<form method="post">
<!-- the default *action* is wherever path we currently resolve to, which in this case is '/sign-up'...  since we're going to POST '/sign-up' we don't need to add the action here-->
	<fieldset>
		<legend>Sign-Up</legend>
		<label for="name_first">First Name</label><input name="name_first" /><br />
		<label for="name_last">Last Name</label><input name="name_last" />
		<br />
		<label for="username">Username</label><input name="username" />
		<br />
		<label for="password">Password</label><input type="password" name="password"><br />
		<input type="submit" value="Sign-Up" />
	</fieldset>
</form>